
@{
    ViewBag.Title = "Accion Exitosa";
}

<h2>Accion Exitosa! </h2>
<p>
    Se a ingresado correctamente el producto a su carrito de compras!
</p>

<div>
    @Html.ActionLink("Visualizar Carrito", "Index")
</div>
