
@{
    ViewBag.Title = "CarritoVacio";
}

<h2>Su carrito esta vacio! </h2>
<p>
    Para poder confirmar una orden de compra debe selecccionar productos.
</p>

<div>
    @Html.ActionLink("Seleccionar Productos", "Create")
</div>
