
@{
    ViewBag.Title = "ErrorEnEditarPrecio";
}

<h2>Error en Editar Precio de Venta </h2>
<p>
    Ese precio de venta no podrá ser superior en un 10% al precio
    sugerido de venta , ni tampoco podrá ser menor al precio sugerido.
</p>

<div>
    @Html.ActionLink("Volver a editar", "Index")
</div>
