
@{
    ViewBag.Title = "NoProductos";
}

<h2>Atencion</h2>

<p>No se encontraron productos, presione volver para acceder a una nueva busqueda</p>

<div>
    @Html.ActionLink("Volver a Productos", "Index")
</div>